Repository Rades98/ODF.API, changes with the labels that .github/labeler.yml gives for each.
All labels: Domain, Database, BE, API, DEVOPS

.github/labeler.yml:

Domain:
 - src/ODF.Domain/**
Database:
  - src/ODF.Data.*/**
BE:
  - src/**
API:
  - src/ODF.API/**
DEVOPS:
  - Dockerfile.*
  - docker-compose.yml
  - src/var/**
  - src/.env
  - .github/**

edit
  src/ODF.API/Program.cs
Labels: BE, API

sonar
  src/ODF.API/Controllers/Users/UserController.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepoCahce.cs
Labels: Database, BE, API

sonar2
  src/ODF.API/ResponseModels/User/UserLineupItemResponseModel.cs
Labels: BE, API

Some other changes
  src/ODF.API/Controllers/ArticleController.cs
  src/ODF.API/Controllers/AssociationController.cs
  src/ODF.API/Controllers/Base/BaseController.cs
  src/ODF.API/Controllers/Contacts/ContactAddressController.cs
  src/ODF.API/Controllers/Contacts/ContactBankAccountsController.cs
  src/ODF.API/Controllers/Contacts/ContactController.cs
  src/ODF.API/Controllers/Contacts/ContactPersonsController.cs
  src/ODF.API/Controllers/Lineup/LineupController.cs
  src/ODF.API/Controllers/Lineup/LineupRedactionController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/Controllers/Users/UserController.cs
  src/ODF.API/Cookies/CookieProps.cs
  src/ODF.API/Extensions/MappingExtensions/LineupDtoToFormMapper.cs
  src/ODF.API/FormComposers/ArticleFormComposer.cs
  src/ODF.API/FormComposers/LineupItemFormComposer.cs
  src/ODF.API/Middleware/ResponseSelfMiddleware.cs
  src/ODF.API/ODF.API.csproj
  src/ODF.API/Program.cs
  src/ODF.API/Registration/ServicesRegistration.cs
  src/ODF.API/RequestModels/Forms/Lineup/AddLineupItemForm.cs
  src/ODF.API/ResponseModels/Lineup/Redaction/GetLineupItemRedactionResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/Redaction/GetLineupRedactionResponseModel.cs
  src/ODF.API/Swagger/swagger-auth.js
  src/ODF.API/appsettings.Development.json
  src/ODF.AppLayer/CQRS/Article/CommandValidators/AddArticleCommandValidator.cs
  src/ODF.AppLayer/CQRS/Article/QueryHandlers/GetArticleQueryHandler.cs
  src/ODF.AppLayer/CQRS/Article/QueryHandlers/GetArticlesQueryHandler.cs
  src/ODF.AppLayer/CQRS/Lineup/CommandValidators/AddLineupItemCommandValidator.cs
  src/ODF.AppLayer/ODF.AppLayer.csproj
  src/ODF.AppLayer/Settings/DependencyRegistrations.cs
  src/ODF.Data.Elastic/Repos/Articles/ArticleRepo.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepo.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepoCahce.cs
  src/ODF.Data.Elastic/Repos/Translations/TranslationRepoCache.cs
  src/ODF.Data.Elastic/Settings/ElasticSearchRegistrations.cs
  src/ODF.Data.Redis/Settings/RedisRegistrations.cs
  src/ODF.Domain/Constants/FormValueTypes.cs
  src/ODF.Domain/Entities/Article.cs
  src/ODF.Domain/Extensions/StringExtensions.cs
Labels: Domain, Database, BE, API

sonar
  src/ODF.API/Cookies/CookieProps.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepoCahce.cs
Labels: Database, BE, API

sonar
  src/ODF.API/Extensions/ActionDescriptorCollectionProviderExtensions.cs
  src/ODF.API/Extensions/HttpContextExtensions.cs
Labels: BE, API

smth
  src/ODF.API/Controllers/ArticleController.cs
  src/ODF.API/Controllers/Base/BaseController.cs
  src/ODF.AppLayer/CQRS/Article/Queries/GetArticleQuery.cs
  src/ODF.AppLayer/CQRS/Article/Queries/GetArticlesQuery.cs
  src/ODF.AppLayer/CQRS/Contact/Queries/GetBankAccountsQRQuery.cs
  src/ODF.AppLayer/CQRS/Contact/Queries/GetContactQeury.cs
  src/ODF.AppLayer/CQRS/Lineup/Queries/GetLineupQuery.cs
  src/ODF.AppLayer/CQRS/Lineup/Queries/GetUserLineupQuery.cs
  src/ODF.AppLayer/CQRS/Translations/Queries/GetTranslationsQuery.cs
  src/ODF.AppLayer/CQRS/User/Queries/GetAllUserNamesQuery.cs
  src/ODF.AppLayer/Record.cs
Labels: BE, API

some minor changes after all
  src/ODF.API/Controllers/Contacts/ContactRedactionController.cs
  src/ODF.API/Controllers/DonationController.cs
  src/ODF.API/Controllers/Lineup/LineupRedactionController.cs
  src/ODF.API/Controllers/NavigationController.cs
  src/ODF.API/FormComposers/ContactFormComposer.cs
  src/ODF.API/ResponseModels/Contacts/Redaction/GetContactPersonsRedactionResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Redaction/GetContactRedactionNavigationResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Redaction/GetRemoveBankAccountResponseModel.cs
  src/ODF.API/ResponseModels/Donations/DonationBankAccResponseModel.cs
  src/ODF.API/ResponseModels/Donations/DonationResponseModel.cs
  src/ODF.API/ResponseModels/Navigation/NavigationResponseModel.cs
  src/ODF.API/keys/key-4ab06895-8ab2-44dc-8a6c-684148b9b0b9.xml
  src/ODF.AppLayer/CQRS/Contact/QueryHandlers/GetBankAccountsQRQueryHandler.cs
  src/ODF.AppLayer/Dtos/ContactDtos/BankAccountQRDto.cs
  src/ODF.Data.Elastic/Settings/ElasticSearchRegistrations.cs
  src/ODF.Domain/Constants/FormValueTypes.cs
  src/ODF.Domain/Languages.cs
Labels: Domain, Database, BE, API

soanr
  src/ODF.API/Controllers/DonationController.cs
  src/ODF.API/ResponseModels/Donations/DonationResponseModel.cs
Labels: BE, API

sonar vol2?
  src/ODF.API/ResponseModels/Donations/DonationResponseModel.cs
  src/ODF.AppLayer/CQRS/Contact/Queries/GetBankAccountsQRQuery.cs
  src/ODF.AppLayer/CQRS/User/Queries/GetAllUserNamesQuery.cs
Labels: BE, API
