Repository Rades98/ODF.API, changes with the labels that .github/labeler.yml gives for each.
All labels: Domain, Database, BE, API, DEVOPS

.github/labeler.yml:

Domain:
 - src/ODF.Domain/**
Database:
  - src/ODF.Data.*/**
BE:
  - src/**
API:
  - src/ODF.API/**
DEVOPS:
  - Dockerfile.*
  - docker-compose.yml
  - src/var/**
  - src/.env
  - .github/**

Removed redundant ApiResponses file + response composers
  src/ODF.API/Controllers/ArticlesController.cs
  src/ODF.API/Controllers/Base/BaseController.cs
  src/ODF.API/Controllers/Contacts/ContactAddressController.cs
  src/ODF.API/Controllers/Contacts/ContactBankAccountsController.cs
  src/ODF.API/Controllers/Contacts/ContactPersonsController.cs
  src/ODF.API/Controllers/Contacts/ContactsController.cs
  src/ODF.API/Controllers/LineupController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/Controllers/Users/UsersController.cs
  src/ODF.API/Extensions/MappingExtensions/ContactsResponseMapper.cs
  src/ODF.API/Responses/ApiResponses.cs
Labels: BE, API

Create docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: DEVOPS

api validations everywhere
  src/ODF.API/Controllers/ArticlesController.cs
  src/ODF.API/Controllers/Contacts/ContactBankAccountsController.cs
  src/ODF.API/Controllers/Contacts/ContactPersonsController.cs
  src/ODF.API/Controllers/Contacts/ContactsRedactionController.cs
  src/ODF.API/Controllers/Lineup/LineupController.cs
  src/ODF.API/Controllers/NavigationController.cs
  src/ODF.API/Controllers/RedactionController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/Controllers/Users/UsersController.cs
  src/ODF.API/Extensions/ValidationFailureExtensions.cs
  src/ODF.API/FormFactories/ArticleFormFactory.cs
  src/ODF.API/FormFactories/ContactFormFactory.cs
  src/ODF.API/FormFactories/LineupItemFormFactory.cs
  src/ODF.API/FormFactories/TranslationFormFactory.cs
  src/ODF.API/FormFactories/UserFormFactory.cs
  src/ODF.API/Middleware/CustomAuthorizationResultMiddlewareHandler.cs
  src/ODF.API/RequestModels/Forms/AddLineupItemForm.cs
  src/ODF.API/RequestModels/Forms/User/RegisterUserForm.cs
  src/ODF.API/ResponseModels/Contacts/Redaction/GetContactPersonRedactionResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Redaction/GetContactRedactionNavigationResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/AddLineupResponseModel.cs
  src/ODF.API/ResponseModels/User/UserResponseModel.cs
  src/ODF.API/docker-compose.test.yml
  src/ODF.AppLayer/CQRS/Lineup/CommandHandlers/AddLIneupItemCommandHandler.cs
  src/ODF.AppLayer/CQRS/Lineup/CommandValidators/AddLineupItemCommandValidator.cs
  src/ODF.AppLayer/CQRS/Lineup/Commands/AddLineupItemCommand.cs
  src/ODF.Domain/Constants/FormValueTypes.cs
  src/ODF.Domain/Entities/LineupItem.cs
  src/docker-compose.yml
Labels: Domain, BE, API

usings + response/request models
  src/ODF.API.sln
  src/ODF.API/Controllers/ArticlesController.cs
  src/ODF.API/Controllers/Contacts/ContactAddressController.cs
  src/ODF.API/Controllers/Contacts/ContactBankAccountsController.cs
  src/ODF.API/Controllers/Contacts/ContactPersonsController.cs
  src/ODF.API/Controllers/Contacts/ContactsController.cs
  src/ODF.API/Controllers/Contacts/ContactsRedactionController.cs
  src/ODF.API/Controllers/Lineup/LineupController.cs
  src/ODF.API/Controllers/RedactionController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/Extensions/HttpContextExtensions.cs
  src/ODF.API/FormFactories/UserFormFactory.cs
  src/ODF.API/Registration/SpecificOptions/CamelCaseRouteTransformer.cs
  src/ODF.API/RequestModels/Forms/AddLineupItemForm.cs
  src/ODF.API/ResponseModels/Contacts/Update/UpdateContactAddressResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Update/UpdateContactBankAccResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/LineupItemResponseModel.cs
  src/ODF.AppLayer/CQRS/User/CommandHandlers/LoginUserCommandHandler.cs
  src/ODF.Domain/Constants/UserRoles.cs
  src/ODF.Domain/Extensions/StringExtensions.cs
Labels: Domain, BE, API

...
  src/ODF.API/Controllers/Contacts/ContactAddressController.cs
  src/ODF.API/Controllers/Contacts/ContactsController.cs
Labels: BE, API

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DEVOPS

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DEVOPS

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DEVOPS

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DEVOPS

sonar
  src/ODF.API/Extensions/ActionDescriptorCollectionProviderExtensions.cs
  src/ODF.API/Registration/LoggerRegistration.cs
  src/ODF.API/ResponseModels/Base/BaseCreateResponseModel.cs
  src/ODF.AppLayer/Dtos/LineupItemDto.cs
  src/ODF.AppLayer/Exceptions/MissingTranslationException.cs
  src/ODF.AppLayer/Exceptions/UnsupportedLanguageException.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepoCahce.cs
  src/ODF.Data.Elastic/Settings/ElasticSearchRegistrations.cs
Labels: Database, BE, API

sonar
  src/ODF.API/Controllers/Lineup/LineupController.cs
  src/ODF.API/Extensions/CacheExtensions.cs
  src/ODF.API/Registration/LoggerRegistration.cs
  src/ODF.API/ResponseModels/Articles/CreateArticleResponseModel.cs
  src/ODF.API/ResponseModels/Base/BaseCreateResponseModel.cs
  src/ODF.API/ResponseModels/Base/BaseDeleteResponseModel.cs
  src/ODF.API/ResponseModels/Base/BaseUpdateResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Create/CreateContactBankAccResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Create/CreateContactPersonResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Delete/DeleteContactBankAccResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Delete/DeleteContactPersonResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Update/UpdateContactAddressResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Update/UpdateContactPersonResponseModel.cs
  src/ODF.API/ResponseModels/Contacts/Update/UpdateContactResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/AddLineupResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/DeleteLineupResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/UpdateLineupResponseModel.cs
  src/ODF.AppLayer/Extensions/TranslationsExtensions.cs
  src/ODF.Data.Elastic/Repos/Translations/TranslationRepoCache.cs
Labels: Database, BE, API

sonar
  src/ODF.API/ResponseModels/Base/BaseCreateResponseModel.cs
  src/ODF.AppLayer/CQRS/Contact/CommandValidators/UpdateContactAddressCommandValidator.cs
  src/ODF.Data.Redis/Settings/RedisRegistrations.cs
  src/ODF.Domain/Constants/PaginationConsts.cs
  src/ODF.Domain/Extensions/AddressExtensions.cs
Labels: Domain, Database, BE, API

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

sonar
  src/ODF.API/Controllers/RedactionController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/Extensions/ActionDescriptorCollectionProviderExtensions.cs
  src/ODF.API/Middleware/RateLimitMiddleware.cs
  src/ODF.API/ResponseModels/Base/BaseCreateResponseModel.cs
  src/ODF.AppLayer/CQRS/Contact/CommandValidators/AddBankAccountCommandValidator.cs
  src/ODF.AppLayer/CQRS/Contact/CommandValidators/AddContactPersonCommandValidator.cs
  src/ODF.AppLayer/CQRS/Contact/CommandValidators/UpdateContactCommandValidator.cs
  src/ODF.AppLayer/Exceptions/MissingTranslationException.cs
  src/ODF.AppLayer/Exceptions/UnsupportedLanguageException.cs
  src/ODF.AppLayer/Pipelines/ResourceNotFoundPostProcessor.cs
  src/ODF.AppLayer/Repos/IArticleRepo.cs
  src/ODF.Data.Elastic/Repos/Articles/ArticleRepoCache.cs
  src/ODF.Data.Elastic/Repos/Contacts/ContactRepo.cs
  src/ODF.Data.Elastic/Repos/ElasticScriptExtensions.cs
  src/ODF.Data.Elastic/Repos/Lineups/LineupRepo.cs
  src/ODF.Data.Elastic/Repos/Translations/TranslationRepo.cs
  src/ODF.Data.Elastic/Settings/ElasticSearchRegistrations.cs
  src/ODF.Domain/Entities/ContactEntities/Contact.cs
Labels: Domain, Database, BE, API

sonar
  src/ODF.Data.Elastic/Repos/Articles/ArticleRepoCache.cs
Labels: Database, BE

sonar + sealing mdtr requests
  src/ODF.API/Controllers/Base/BaseController.cs
  src/ODF.API/Registration/LoggerRegistration.cs
  src/ODF.API/RequestModels/Forms/Contacts/UpdateContactPersonForm.cs
  src/ODF.API/ResponseModels/Lineup/AddLineupResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/DeleteLineupResponseModel.cs
  src/ODF.API/ResponseModels/Lineup/UpdateLineupResponseModel.cs
  src/ODF.AppLayer/CQRS/Article/Commands/AddArticleCommand.cs
  src/ODF.AppLayer/CQRS/Article/Queries/GetArticleQuery.cs
  src/ODF.AppLayer/CQRS/Article/Queries/GetArticlesQuery.cs
  src/ODF.AppLayer/CQRS/Article/QueryHandlers/GetArticleQueryHandler.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/AddBankAccountCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/AddContactPersonCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/RemoveBankAccountCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/RemoveContactPersonCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/UpdateContactAddressCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/UpdateContactCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Commands/UpdateContactPersonCommand.cs
  src/ODF.AppLayer/CQRS/Contact/Queries/GetBankAccountsQRQuery.cs
  src/ODF.AppLayer/CQRS/Contact/Queries/GetContactQeury.cs
  src/ODF.AppLayer/CQRS/Lineup/Commands/AddLineupItemCommand.cs
  src/ODF.AppLayer/CQRS/Lineup/Commands/DeleteLineupItemCommand.cs
  src/ODF.AppLayer/CQRS/Lineup/Commands/UpdateLineupItemCommand.cs
  src/ODF.AppLayer/CQRS/Lineup/Queries/GetLineupQuery.cs
  src/ODF.AppLayer/CQRS/Translations/Commands/ModifyTransaltionCommand.cs
  src/ODF.AppLayer/CQRS/Translations/Queries/GetTranslationsQuery.cs
  src/ODF.AppLayer/CQRS/User/Commands/LoginUserCommand.cs
  src/ODF.Data.Elastic/LINQExtensions.cs
Labels: Database, BE, API

removed redundant LinqExtensions
  src/ODF.Data.Elastic/LINQExtensions.cs
Labels: Database, BE

some db settings + readme + docker compose file changes
  README.md
  src/.env
  src/ODF.API/appsettings.Development.json
  src/ODF.Data.Redis/Settings/RedisRegistrations.cs
  src/ODF.Data.Redis/Settings/RedisSettings.cs
  src/docker-compose.yml
  src/var/prometheus/prometheus-config.yaml
Labels: Database, BE, API, DEVOPS

port order
  src/docker-compose.yml
Labels: BE

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

hot fix
  src/ODF.Data.Redis/Extensions.cs
Labels: Database, BE

some other stuff
  src/ODF.API/Controllers/AboutController.cs
  src/ODF.API/Controllers/ArticleController.cs
  src/ODF.API/Controllers/AssociationController.cs
  src/ODF.API/Controllers/Contacts/ContactController.cs
  src/ODF.API/Controllers/Contacts/ContactRedactionController.cs
  src/ODF.API/Controllers/NavigationController.cs
  src/ODF.API/Controllers/RedactionController.cs
  src/ODF.API/Controllers/TranslationsController.cs
  src/ODF.API/ResponseModels/LanguageMutations/UpdateTranslationResponseModel.cs
  src/ODF.AppLayer/CQRS/Translations/CommandHandlers/ModifyTransaltionCommandHandler.cs
  src/ODF.AppLayer/CQRS/Translations/CommandValidators/ModifyTransaltionCommandValidator.cs
  src/ODF.AppLayer/CQRS/Translations/Commands/ModifyTransaltionCommand.cs
  src/ODF.AppLayer/Mediator/ICommandHandler.cs
Labels: BE, API

some sonar stuff
  src/ODF.API/Cookies/CookieProps.cs
  src/ODF.API/Program.cs
  src/ODF.API/Registration/ServiceLocator.cs
  src/ODF.API/RequestModels/BaseRequestModel.cs
  src/ODF.API/Swagger/swagger-auth.js
  src/ODF.Data.Elastic/Repos/Contacts/ContactRepo.cs
Labels: Database, BE, API

sonar
  src/PotencialMicroservices/MailingService/Client/ClientProvider.cs
Labels: BE
